<template>
  <div class="AdList">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <br> 
      <h3>광고등록현황</h3>
      <b-row align="right">
        <b-col cols="4"></b-col>
        <b-col cols="1" class="col-text">결제 상태</b-col>
        <b-col cols="2">
          <b-form-group>
            <b-form-select v-model="payment_option" :options="payment_options" @change.native="onPaymentChange"></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row align="right">
        <b-col cols="4"></b-col>
        <b-col cols="1" class="col-text">광고 종류</b-col>
        <b-col cols="2">
          <b-form-group>
            <b-form-select v-model="type_option" :options="type_options" @change.native="onTypeChange"></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form @reset="onReset" v-if="formShow">
        <br>        
        <b-row align="left">
          <b-col cols="3"></b-col>
          <b-col cols="2" class="col-text">광고 종류:</b-col>
          <b-col cols="3">
            <b-form-group>
              <b-form-input type="text" v-model="form.at_title" readonly ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br> 
        <b-row v-if="form.ah_at_type != null" align="left">
          <b-col cols="3"></b-col>
          <b-col cols="2">
            <h2>{{form.at_price}}</h2>
            <h4>{{form.at_based_days}}일 기준</h4>
            <h4>{{form.at_count}}회</h4>
            <span v-html="form.at_location_desc"></span>
          </b-col>
          <b-col cols="3">
            <img v-if="form.at_location_image != ''" :src="form.at_location_image" style="height: 200px; width:300px;"/>
          </b-col>
        </b-row>
        <br>
        <b-row align="left">
          <b-col cols="3"></b-col>
          <b-col cols="2" style="padding-right: 0px; padding-left: 30px;">광고분야:</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-checkbox-group id="checkbox" v-model="form.ah_ad_division" disabled>
                <b-form-checkbox v-for="(division, key) in adDivisions" :key="key" :value="division.value">{{division.text}}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="3"></b-col>
          <b-col cols="2" style="padding-right: 0px; padding-left: 30px;">광고지역:</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-checkbox-group id="checkbox" v-model="form.ah_ad_area" disabled>
                <b-form-checkbox v-for="(area, key) in adAreas" :key="key" :value="area.value">{{area.text}}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="3"></b-col>
          <b-col cols="2" class="col-text">광고신청일자:</b-col>
          <b-col cols="3">
            <b-form-group>
              <b-form-input type="date" v-model="form.ah_occur_date" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="3"></b-col>
          <b-col cols="2" class="col-text">광고개시일자:</b-col>
          <b-col cols="3">
            <b-form-group>
              <b-form-input type="date" v-model="form.ah_start_date" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="3"></b-col>
          <b-col cols="2" class="col-text">광고종료일자:</b-col>
          <b-col cols="3">
            <b-form-group>
              <b-form-input type="date" v-model="form.ah_end_date" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!paymentFlag" size="sm" variant="danger" @click="onDelete">삭제</b-btn>
            <b-btn v-if="!paymentFlag" size="sm" variant="success" @click="onPayment">결제</b-btn>
            <b-btn v-if="paymentFlag" size="sm" variant="success" @click="onPaymentConfirm">결제확인</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>
      <br>
      <b-table show-empty
              stacked="sm"
              :items="ad_historys"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
        </template>
      </b-table>
      <b-row>
        <b-col cols="3"></b-col>
        <b-col cols="4">
          <b-form-group horizontal label="">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';

export default {
  name: 'AdList',
  components: {
    AdminNavi,
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_ah_id: '',
      payment_option: null,
      payment_options: [
        { value: 'all', text: '전체' },
        { value: 'r', text: '광고주 광고 신청중' },
        { value: 'p', text: '광고주 광고료 결제' },
        { value: 'c', text: '관리자 결제확인 완료' },
      ],
      formShow: false,
      paymentFlag: false,
      form: {
        ah_id: 0,
        ah_at_type: null,
        ah_ad_division: [],
        ah_ad_area: [],
        ah_occur_date: '',
        ah_start_date: '',
        ah_end_date: '',
        ah_payment_amount: 0,
        ah_payment_date: '',
        ah_payment_creator: '',
        ah_payment_confirmer: '',
        ah_payment_confirm_date: '',
        ah_payment_flag: '',          // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)
        ah_creator: '',
        legal_office_lo_id: 0,
        at_desc: '',
        at_title: '',
        at_price: '',
        at_based_days: 0,
        at_count: 0,
        at_location_image: '',
        at_location_desc: '',
      },
      ad_types: [],
      type_option: null,
      type_options: [
        { value: 'all', text: '광고종류' },
        { value: '10', text: '프리미엄 배너광고' },
        { value: '20', text: '메인 배너광고' },
        { value: '30', text: '지역 배너광고' },
        { value: '40', text: '상품 배너광고' },
        { value: '50', text: '배너 베스트뱃지' },
        { value: '60', text: '실시간 회생문의 추가 등록' },
        { value: '80', text: '업체리스트 줄광고' },
      ],
      adDivisions: [
        { value: '개인회생', text: '개인회생' },
        { value: '개인파산', text: '개인파산' },
      ],
      adAreas: [
        { value: '서울', text: '서울' },
        { value: '인천', text: '인천' },
        { value: '부산', text: '부산' },
        { value: '대전', text: '대전' },
        { value: '울산', text: '울산' },        
        { value: '대구', text: '대구' },
        { value: '광주', text: '광주' },
        { value: '세종', text: '세종' },
        { value: '경기', text: '경기' },
        { value: '강원', text: '강원' },
        { value: '충북', text: '충북' },
        { value: '충남', text: '충남' },
        { value: '경북', text: '경북' },
        { value: '경남', text: '경남' },
        { value: '전북', text: '전북' },
        { value: '전남', text: '전남' },
        { value: '제주', text: '제주' },
      ],
      ad_historys: [],
      fields: [
        { key: 'seq', label: 'SEQ', 'class': 'text-center' },
        { key: 'at_title', label: '광고종류', 'class': 'text-center' },
        { key: 'ah_occur_date', label: '신청일자', 'class': 'text-center' },
        { key: 'ah_start_date', label: '광고개시일자', 'class': 'text-center' },
        { key: 'ah_end_date', label: '광고종료일자', 'class': 'text-center' },
        { key: 'ah_payment_amount', label: '결제금액', 'class': 'text-center' },
        { key: 'ah_payment_desc', label: '결제상태', 'class': 'text-center', sortable: true, sortDirection: 'desc', },
        { key: 'ah_payment_date', label: '결제일', 'class': 'text-center', sortable: true, sortDirection: 'desc', },
        { key: 'ah_payment_name', label: '결제자', 'class': 'text-center' },
        { key: 'lo_name', label: '신청자', 'class': 'text-center' },
        { key: 'actions', label: '', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
    }
  },
  computed: {
  },
  methods: {
    onPaymentChange(evt) {
      this.payment_option = evt.target.value;
      this.getAdHistorys();
    },
    onTypeChange(evt) {
      this.type_option = evt.target.value;
      this.getAdHistorys();
    },
    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.onReset();
      this.selected_ah_id = item.ah_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('ah_id', this.selected_ah_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.ah_id = response.data.ad_history.ah_id;
          this.form.ah_at_type = response.data.ad_history.ah_at_type;
          this.form.ah_ad_division = response.data.ad_history.ah_ad_division.split(",");
          this.form.ah_ad_area = response.data.ad_history.ah_ad_area.split(",");
          this.form.ah_occur_date = response.data.ad_history.ah_occur_date;
          this.form.ah_start_date = response.data.ad_history.ah_start_date;
          this.form.ah_end_date = response.data.ad_history.ah_end_date;
          this.form.ah_payment_amount = response.data.ad_history.ah_payment_amount;
          this.form.ah_payment_date = response.data.ad_history.ah_payment_date;
          this.form.ah_payment_creator = response.data.ad_history.ah_payment_creator;
          this.form.ah_payment_confirmer = response.data.ad_history.ah_payment_confirmer;
          this.form.ah_payment_confirm_date = response.data.ad_history.ah_payment_confirm_date;
          this.form.ah_creator = response.data.ad_history.ah_creator;
          this.form.at_based_days = response.data.ad_history.at_based_days;
          this.form.at_count = response.data.ad_history.at_count;
          this.form.legal_office_lo_id = response.data.ad_history.legal_office_lo_id
          this.form.ah_payment_flag = response.data.ad_history.ah_payment_flag;
          for (let i = 0; i < this.ad_types.length ; i++) {
            if(this.form.ah_at_type == this.ad_types[i].at_type) {
              this.form.at_title = this.ad_types[i].at_title;
              this.form.at_price = this.ad_types[i].at_price +'원';
              this.form.at_desc = this.ad_types[i].at_desc;
              this.form.at_location_image = this.$store.state.lawketImageUrl+'lawket/ad_image/'+this.ad_types[i].at_location_image;
            }
          }
          this.form.at_price = this.form.ah_payment_amount +'원';
          if(this.form.ah_payment_date == '1969-12-31') { this.form.ah_payment_date = ''; };
          if(this.form.ah_payment_confirm_date == '1969-12-31') { this.form.ah_payment_confirm_date = ''; };
          if(this.form.ah_payment_flag == 'c') { 
            this.paymentFlag = true; 
            this.infoMsg = '이미 결제확인이 완료된 자료입니다.';
            this.showModal();
            return; 
          } else if(this.form.ah_payment_flag == 'p') { 
            this.paymentFlag = true;
          }
          this.formShow = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onReset() {
      this.form.ah_at_type = '';
      this.form.ah_ad_division = [];
      this.form.ah_ad_area = [];
      this.form.ah_occur_date = '';
      this.form.ah_start_date = '';
      this.form.ah_end_date = '';
      this.form.ah_payment_amount = '';
      this.form.ah_payment_date = '';
      this.form.ah_payment_creator = '';
      this.form.ah_payment_confirmer = '';
      this.form.ah_payment_confirm_date = '';
      this.form.ah_payment_flag = '';
      this.form.ah_creator = '';
      this.form.at_price = '';
      this.form.at_desc = '';
      this.form.at_title = '';
      this.form.at_based_days = 0;
      this.form.at_count = 0;
      this.paymentFlag = false;
    },

    onDelete() {
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },
    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('ah_id', this.selected_ah_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        this.getAdHistorys();
        this.infoMsg = response.data.msg;
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },
    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    onPayment() {
      this.form.ah_payment_creator = this.$store.state.adminData.la_identifier;
      this.form.ah_payment_flag = 'p';  // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)

      var data = new FormData();
      data.append('CRUD_mode', 'payment');
      data.append('ah_id', this.form.ah_id);               
      data.append('ah_payment_creator', this.form.ah_payment_creator);
      data.append('ah_payment_flag', this.form.ah_payment_flag);
      data.append('legal_office_lo_id', this.form.legal_office_lo_id);
      
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdHistorys();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onPaymentConfirm() {
      this.form.ah_payment_confirmer = this.$store.state.adminData.la_identifier;
      this.form.ah_payment_flag = 'c';  // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)

      var data = new FormData();
      data.append('CRUD_mode', 'confirm');
      data.append('ah_id', this.form.ah_id);               
      data.append('ah_payment_confirmer', this.form.ah_payment_confirmer);
      data.append('ah_payment_flag', this.form.ah_payment_flag);
      data.append('legal_office_lo_id', this.form.legal_office_lo_id);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdHistorys();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    getAdHistorys() {
      this.ad_historys = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      data.append('get_mode', 'all');
      data.append('ah_at_type', this.type_option);
      data.append('ah_payment_flag', this.payment_option);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.ad_historys = response.data.ad_historys;
          for (let i=0; i<this.ad_historys.length; i++) {
            if(this.ad_historys[i].ah_payment_date == '1969-12-31') {
              this.ad_historys[i].ah_payment_date = '';
            };
            if(this.ad_historys[i].ah_payment_confirm_date == '1969-12-31') {
              this.ad_historys[i].ah_payment_confirm_date = '';
            };
          }
          this.totalRows = this.ad_historys.length;
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
    },

    showModal() {
      this.$refs.infoModal.show()
    },

    hideModal() {
      this.$refs.infoModal.hide()
    },

    getAdTypes() {
      this.ad_types = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.ad_types = response.data.ad_types;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
  },

  mounted() {
    if(!this.$store.state.adminFlag) {
      this.$router.push({ path: '/' });
    }
    this.getAdTypes();
    this.payment_option = 'all';
    this.type_option = 'all';
    this.getAdHistorys();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }
</style>