<template>
  <div class="admin-home">
    <AdminNavi></AdminNavi>
    <b-container fluid >
      <br><br><br><br><br><br>
      <b-row class="mb-2">
        <b-col cols="4"></b-col>
        <b-col cols="1" class="col-text">아이디</b-col>
        <b-col cols="3">
          <b-form-group>
          <b-form-input type="text" v-model="la_identifier" required placeholder="아이디를 입력하세요."></b-form-input>
        </b-form-group>
        </b-col>
      </b-row>
      <b-row class="mb-2">
        <b-col cols="4"></b-col>
        <b-col cols="1" class="col-text">패스워드</b-col>
        <b-col cols="3">
        <b-form-group>
          <b-form-input type="password" v-model="la_password" required placeholder="패스워드를 입력하세요."></b-form-input>
        </b-form-group>
        </b-col>
      </b-row>
      <b-row class="mb-2">
        <b-col cols="4"></b-col>
        <b-col cols="1"></b-col>
        <b-col cols="3">
          <b-btn size="md" variant="primary" @click="tryLogin" block>로그인</b-btn>
        </b-col>
      </b-row>
      <br>
      <b-row class="mb-2">
        <b-col cols="4"></b-col>
        <b-col cols="1"></b-col>
        <b-col cols="3">
          <p>{{ infoMsg }}</p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';

export default {
  name: 'admin-home',
  components: {
    AdminNavi,
  },
  data () {
    return {
      show: false,
      infoMsg: '',
      la_identifier: '',
      la_password: '',
    }
  },
  mounted() {
    this.$store.state.adminFlag = false;
    this.$store.state.adminData = [];
  },
  methods: {
    back: function() {
      this.$router.push({ path: '/' })
    },
    accessAdmin() {
      if(this.$store.state.adminFlag) {
        this.$router.push({ path: '/CreateAdmin' });
      }
    },
    exitAdmin() {
      this.$router.push({ path: '/' });
    },
    tryLogin() {
      var data = new FormData();
      data.append('CRUD_mode', 'login');
      data.append('la_identifier', this.la_identifier);
      data.append('la_password', this.la_password);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_admin.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
        } else {
          this.$store.state.adminFlag = response.data.admin.adminFlag;
          this.$store.state.adminData = response.data.admin;
          this.$router.push({ path: '/CreateAdmin' });
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.col-text {
  padding-top: 7px; 
  padding-right: 0px; 
  padding-left: 30px;
}
</style>
