<template>
  <div class="admin-navi">
    <div class="Navi" align="center">
      <b-navbar toggleable="sm" type="dark" variant="dark" fixed="top">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand @click="logoutAdmin">Admin</b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
            <!-- Left aligned nav items -->
            <b-navbar-nav>
              <b-nav-item @click="createAdmin">관리자등록</b-nav-item>
              <b-nav-item @click="createAdType">광고등록</b-nav-item>
              <b-nav-item @click="createNotice">공지사항등록</b-nav-item>
              <b-nav-item @click="createFaq">FAQ등록</b-nav-item>
              <b-nav-item @click="createInfomation">정보등록</b-nav-item>
              <b-nav-item @click="createTerms">약관등록</b-nav-item>
              <b-nav-item @click="createSearchText">검색어등록</b-nav-item>
              <b-nav-item @click="createResponse">질문과답변</b-nav-item>
              <b-nav-item @click="adList">업체광고등록현황</b-nav-item>
            </b-navbar-nav>
            <b-navbar-nav class="ml-auto">
              <b-nav-item-dropdown text="사용자메뉴" right>
                <b-dropdown-item @click="createConsult">회생상담신청</b-dropdown-item>
                <b-dropdown-item @click="createCustomer">업체등록</b-dropdown-item>
                <b-dropdown-item @click="requestAd">광고신청</b-dropdown-item>
              </b-nav-item-dropdown>
              <b-nav-item v-if="!$store.state.adminFlag" @click="login">로그인</b-nav-item>
              <b-nav-item v-if="$store.state.adminFlag" @click="logoutAdmin" >로그인: {{$store.state.adminData.la_identifier}}</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div> 
  </div>
</template>

<script>
export default {
  name: 'admin-navi',
  components: {
  },
  data () {
    return {
      
    }
  },
  methods: {
    logoutAdmin() {
      this.$store.state.adminFlag = false;
      this.$store.state.adminData = [];
      this.$router.push({ path: '/' });
    },
    createAdmin() { this.$router.push({ path: '/createAdmin' }); },
    createAdType() { this.$router.push({ path: '/createAdType' }); },
    createInfomation() { this.$router.push({ path: '/createInfomation' }); },
    createFaq() { this.$router.push({ path: '/createFaq' }); },
    createNotice() { this.$router.push({ path: '/createNotice' }); },
    createTerms() { this.$router.push({ path: '/createTerms' }); },
    createResponse() { this.$router.push({ path: '/createResponse' }); },
    createSearchText() { this.$router.push({ path: '/createSearchText' }); },
    adList() { this.$router.push({ path: '/adList' }); },
    createUser() { this.$router.push({ path: '/createUser' }); },
    createCustomer() { this.$router.push({ path: '/createCustomer' }); },
    requestAd() { this.$router.push({ path: '/requestAd' }); },
    createConsult() { this.$router.push({ path: '/createConsult' }); },
    login() { this.$router.push({ path: '/' }); },
  },
  mounted() {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
