<template>
  <div class="CreateCustomer">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>
        <h3>담당자 정보</h3>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">이메일</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input v-if="!protectFlag" type="text" v-model="form.lo_email"  required placeholder="이메일을 입력하세요."></b-form-input>
              <b-form-input v-if="protectFlag" type="text" v-model="form.lo_email" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">비밀번호</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="password" v-model="form.lo_password" required placeholder="영.숫자 포함 8자리 ~ 15자리 이내로 입력하세요."></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">비밀번호 확인</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="password" v-model="re_lo_password" required placeholder="비밀번호를 다시한번 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">담당자명</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_name" required placeholder="담당자명을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">휴대폰번호</b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.first" required placeholder="010"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.second" required placeholder="1234"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.third" required placeholder="5678"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="2" v-if="ahutViewFlag">
            <b-btn variant="outline-danger" @click="getCertiNumber">인증번호받기</b-btn>
          </b-col>
        </b-row>
        <b-row align="right" v-if="ahutViewFlag">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">인증번호</b-col>
          <b-col cols="3">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_mobile_certi_number" required placeholder="인증번호를 입력해 주세요."></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="2">
            <b-btn variant="outline-danger" @click="ahutConfirm">확인</b-btn>
          </b-col>
        </b-row>
        <div style="height: 10px; background-color:#eeeeee;"></div>
        <br>
        <h3>회사 정보</h3>
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">회사명</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_company_name" required placeholder="회사명을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">대표자명</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_ceo_name" required placeholder="대표자명을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row> 
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">전화번호</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_phone" required placeholder="전화번호를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">우편번호</b-col>
          <b-col cols="2">
            <b-btn size="md" class="float-left" variant="outline-primary" v-b-modal.modallg>우편번호 찾기</b-btn>
          </b-col>
          <b-col cols="3">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_postcode" required readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">주소 1</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_address1" required readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">주소 2</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_address2" placeholder="나머지 주소를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">전문분야</b-col>
          <b-col cols="5" align="left">
            <b-form-group>
              <b-form-radio-group v-model="form.lo_business_area" :options="businessAreas" required></b-form-radio-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">자격증 이미지</b-col>
          <b-col cols="5" align="left">
            <b-form-file type="file" accept="image/*" @change="onCertiImgChange" placeholder="자격증 이미지를 첨부해주세요."></b-form-file>
            <div id="preview"><img v-if="url_certi_img" :src="url_certi_img"></div>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">홈페이지</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="url" v-model="form.lo_homepage" placeholder="홈페이지 url을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <b-row v-if="protectFlag">
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">등급</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_class"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="5" align="left" class="col-text">전체동의</b-col>
          <b-col cols="1" align="right">
            <b-form-checkbox id="checkbox1" v-model="allAgreeFlag" @change="toggleAllAgree"></b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="3" align="left" class="col-text">기업회원 약관에 동의(필수)</b-col>
          <b-col cols="2" align="right">
            <b-btn size="sm" variant="outline-primary" @click="openTermsModal('기업회원 약관')">전문보기</b-btn>
          </b-col>
          <b-col cols="1" align="right">
            <b-form-checkbox id="checkbox2" v-model="form.lo_terms_agree" value="O" unchecked-value="X"></b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="3" align="left" class="col-text">개인정보 수집 및 이용에 동의(필수)</b-col>
          <b-col cols="2" align="right">
            <b-btn size="sm" variant="outline-primary" @click="openTermsModal('개인정보 수집')">전문보기</b-btn>
          </b-col>
          <b-col cols="1" align="right">
            <b-form-checkbox id="checkbox3" v-model="form.lo_collect_agree" value="O" unchecked-value="X"></b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="3" align="left" class="col-text">마케팅 정보 수신 동의 - 이메일 (선택)</b-col>
          <b-col cols="3" align="right">
            <b-form-checkbox id="checkbox4" v-model="form.lo_email_agree" value="O" unchecked-value="X"></b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="3" align="left" class="col-text">마케팅 정보 수신 동의 - SMS/MMS (선택)</b-col>
          <b-col cols="3" align="right">
            <b-form-checkbox id="checkbox5" v-model="form.lo_sms_agree" value="O" unchecked-value="X"></b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="3" align="left" class="col-text">개인정보 제3자 제공 및 위탁사항 이용약관</b-col>
          <b-col cols="2" align="right">
            <b-btn size="sm" variant="outline-primary" @click="openTermsModal('개인정보 제3자 제공')">전문보기</b-btn>
          </b-col>
          <b-col cols="1" align="right">
            <b-form-checkbox id="checkbox6" v-model="form.lo_offer_agree" value="O" unchecked-value="X"></b-form-checkbox>
          </b-col>
        </b-row>

        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="protectFlag" type="submit" size="sm" variant="primary" disabled>등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="7">
            <vue-recaptcha
              ref="invisibleRecaptcha"
              @verify="onVerify"
              @expired="onExpired"
              size="invisible"
              :sitekey="recaptcha_sitekey">
            </vue-recaptcha>
          </b-col>
        </b-row>
      </b-form>
      <br>
      <b-table show-empty
              stacked="sm"
              :items="customers"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
        </template>
      </b-table>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="6">
          <b-form-group horizontal label="">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>

      <b-modal id="modallg" size="lg" title="우편번호 찾기">
        <DaumPostcode :on-complete="handleAddress"/>
      </b-modal>
      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>
      <b-modal ref="termsModal" hide-footer :title="termsSubject">
        <div class="d-block text-left">
          <p><span v-html="termsDoc"></span></p>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideTermsModal">닫기</b-btn>
      </b-modal>
    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';
import DaumPostcode from 'vuejs-daum-postcode'; // for search postcode
import VueRecaptcha from 'vue-recaptcha'; //for I'm not a Robot

export default {
  name: 'CreateCustomer',
  components: {
    AdminNavi,
    DaumPostcode,
    VueRecaptcha,
  },
  data () {
    return {
      recaptcha_sitekey: '6LcZuYIUAAAAAMSPFY_82YwVdPFCQJx--zixgjOM',
      infoMsg: '',
      confirmMsg: '',
      selected_lo_id: '',
      formShow: true,
      url_certi_img: null,
      certi_img_file: null,
      re_lo_password: '',
      protectFlag: false,
      ahutViewFlag: true,
      mobile: {
        first: '',
        second: '',
        third: '',
      },
      lo_mobile_certi_number: '',
      mobileCertiConfirmFlag: false,
      businessAreas: [
        { value: '변호사', text: '변호사' },
        { value: '법무사', text: '법무사' },
      ],
      allAgreeFlag: false,
      form: {
        lo_email: '',
        lo_password: '',
        lo_name: '',
        lo_mobile: '',
        lo_mobile_certi_number: '',
        lo_company_name: '',
        lo_ceo_name: '',
        lo_phone: '',
        lo_business_area: '',
        lo_postcode: '',
        lo_address1: '',
        lo_address2: '',
        lo_location: '',
        lo_homepage: '',
        lo_certi_img: '',
        lo_terms_agree: '',
        lo_collect_agree: '',
        lo_offer_agree: '',
        lo_email_agree: '',
        lo_sms_agree: '',
        lo_status: '',
        lo_class: '',
        lo_creator: '',
      },
      customers: [],
      fields: [
        { key: 'lo_company_name', label: '회사명', 'class': 'text-center' },
        { key: 'lo_ceo_name', label: '대표자명', 'class': 'text-center' },
        { key: 'lo_phone', label: '전화번호', 'class': 'text-center' },
        { key: 'lo_name', label: '담당자', 'class': 'text-center' },
        { key: 'lo_mobile', label: '담당자전화번호', 'class': 'text-center' },
        { key: 'lo_email', label: '담당자이메일', 'class': 'text-center' },
        { key: 'lo_status', label: '승인상태', 'class': 'text-center' },
        { key: 'lo_class', label: '광고등급', 'class': 'text-center' },
        { key: 'date', label: '날짜' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      terms: [],
      termsSubject: '',
      termsDoc: '',
    }
  },
  computed: {
  },
  methods: {
    handleAddress(data) {
      let fullAddress = data.address;
      let zonecode = data.zonecode;

      let extraAddress = '';
      if (data.addressType === 'R') {
        if (data.bname !== '') {
          extraAddress += data.bname;
        }
        if (data.buildingName !== '') {
          extraAddress +=
            extraAddress !== '' ? `, ${data.buildingName}` : data.buildingName;
        }
        fullAddress += extraAddress !== '' ? ` (${extraAddress})` : '';
      }
      //console.log("fullAddress --> "+fullAddress) // e.g. '서울 성동구 왕십리로2길 20 (성수동1가)'
      //console.log("zonecode --> "+zonecode) // 도로명 우편번호
      this.form.lo_postcode = zonecode;
      this.form.lo_address1 = fullAddress;
    },
    onCertiImgChange(e) {
      this.certi_img_file = e.target.files[0];
      this.url_certi_img = URL.createObjectURL(this.certi_img_file);
    },
    getCertiNumber(){
      if(this.checkString('mobile', this.mobile.first+this.mobile.second+this.mobile.third) == false) {
          this.showModal();
          return;
      }
      var data = new FormData();                                
      data.append('CRUD_mode', 'create');
      data.append('c_type', 'customer');
      data.append('c_mobile', this.mobile.first+this.mobile.second+this.mobile.third);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_certification.php', data)
      .then(response => {
        this.infoMsg = response.data.msg +': '+ response.data.certi_number;
        this.lo_mobile_certi_number = response.data.certi_number;
        this.form.lo_mobile_certi_number = '';
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.ahutViewFlag = true;
    },
    ahutConfirm(){
      if(this.lo_mobile_certi_number != this.form.lo_mobile_certi_number) {
        this.infoMsg = '올바른 인증번호를 입력해 주세요.';
        this.ahutViewFlag = true;
        this.showModal();
        return;
      }
      this.form.lo_mobile = this.mobile.first+this.mobile.second+ this.mobile.third;
      var data = new FormData();                                
      data.append('CRUD_mode', 'update');
      data.append('c_type', 'customer');
      data.append('c_number', this.form.lo_mobile_certi_number);
      data.append('c_mobile', this.form.lo_mobile);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_certification.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(!response.data.result) {
          this.mobileCertiConfirmFlag = false;
        } else {
          this.mobileCertiConfirmFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
    },
    toggleAllAgree() {
      this.allAgreeFlag = !this.allAgreeFlag;
      if(this.allAgreeFlag) {
        this.form.lo_terms_agree = 'O';       //이용약관
        this.form.lo_collect_agree = 'O';     //개인정보 수집
        this.form.lo_offer_agree = 'O';       //개인정보 제3자 제공 (선택)
        this.form.lo_email_agree = 'O';       //마케팅 정보 수신 동의 - 이메일 (선택)
        this.form.lo_sms_agree = 'O';         //마케팅 정보 수신 동의 - SMS/MMS (선택)
      } else {
        this.form.lo_terms_agree = 'X'; 
        this.form.lo_collect_agree = 'X'; 
        this.form.lo_offer_agree = 'X'; 
        this.form.lo_email_agree = 'X'; 
        this.form.lo_sms_agree = 'X'; 
      }
    },
    openTermsModal(subject) {
      this.termsSubject = subject;
      for(let i=0; i<this.terms.length; i++) {
        if(this.terms[i].t_subject == subject) {
          this.termsDoc = this.terms[i].t_content;
        }
      }
      this.$refs.termsModal.show();
    },

    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.invisibleRecaptcha.execute();  //for <vue-recaptcha>
      if(!this.checkString('password', this.form.lo_password)) {
          this.showModal();
          return;
      } else if(this.form.lo_password != this.re_lo_password) {
          this.infoMsg = '비밀번호가 맞지 않습니다. 비밀번호를 다시 확인해주세요.';
          this.showModal();
          return;
      } else if(this.form.lo_mobile_certi_number == '') {
          this.infoMsg = '휴대폰번호 인증을 완료해 주세요.';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.lo_mobile != this.mobile.first+this.mobile.second+this.mobile.third){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.lo_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(!this.mobileCertiConfirmFlag){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.lo_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if (!this.checkString('number', this.form.lo_phone)) {
          this.showModal();
          return;
      } else if (this.form.lo_business_area == null) {
          this.infoMsg = '전문분야를 선택해 주세요.';
          this.showModal();
          return;
      } else if (this.url_certi_img == null) {
          this.infoMsg = '자격증 이미지를 첨부해 주세요.';
          this.showModal();
          return;
      }

      let strArray = this.form.lo_address1.split(' ');
      this.form.lo_location = strArray[0];
      if(this.form.lo_location == '세종특별자치시') {
        this.form.lo_location = '세종';
      } else if(this.form.lo_location == '제주특별자치도') {
        this.form.lo_location = '제주';
      }

      if(this.certi_img_file != null) { this.form.lo_certi_img = this.certi_img_file.name; };
      this.form.lo_creator = this.$store.state.adminData.la_identifier;
      this.form.lo_status = '1'; //최초 가입
      this.form.lo_class = 'E'; //최초 가입 'E'등급
      
      var data = new FormData();
      data.append('file', this.certi_img_file);
      data.append('CRUD_mode', 'create');
      data.append('lo_email', this.form.lo_email);
      data.append('lo_password', this.form.lo_password);
      data.append('lo_name', this.form.lo_name);
      data.append('lo_mobile', this.form.lo_mobile);
      data.append('lo_mobile_certi_number', this.form.lo_mobile_certi_number);
      data.append('lo_company_name', this.form.lo_company_name);
      data.append('lo_ceo_name', this.form.lo_ceo_name);
      data.append('lo_phone', this.form.lo_phone);
      data.append('lo_business_area', this.form.lo_business_area);
      data.append('lo_postcode', this.form.lo_postcode);
      data.append('lo_location', this.form.lo_location);
      data.append('lo_homepage', this.form.lo_homepage);
      data.append('lo_address1', this.form.lo_address1);
      data.append('lo_address2', this.form.lo_address2);
      data.append('lo_certi_img', this.form.lo_certi_img);
      data.append('lo_terms_agree', this.form.lo_terms_agree);
      data.append('lo_collect_agree', this.form.lo_collect_agree);
      data.append('lo_offer_agree', this.form.lo_offer_agree);
      data.append('lo_email_agree', this.form.lo_email_agree);
      data.append('lo_sms_agree', this.form.lo_sms_agree);
      data.append('lo_status', this.form.lo_status);
      data.append('lo_class', this.form.lo_class);                     
      data.append('lo_creator', this.form.lo_creator);
      //alert(JSON.stringify(this.form));

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getLegalOffices();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      //this.onReset();  
    },

    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/ig);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/ig);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/ig);

      if(type == 'password') {
        //alert(JSON.stringify(pw.length));
        if(pw.length < 8 || pw.length > 15){
          this.infoMsg = '비밀번호는 영.숫자 포함 8자리 ~ 15자리 입니다.';
          return false;
        }
        if(pw.search(/₩s/) != -1){
          this.infoMsg = '비밀번호는 공백없이 입력해주세요.';
          return false;
        } 
        if(num < 0 || eng < 0){
          this.infoMsg = '비밀번호는 영문.숫자를 혼합하여 입력해주세요.';
          return false;
        }
      } else if(type == 'mobile' && pw.length != 11) {
          this.infoMsg = '휴대폰번호를 확인해주세요.';
          return false;
      } else  if(type == 'number' && pw.length < 9) {
          this.infoMsg = '전화번호를 확인해주세요.';
          return false;
      } else {
        if(pw.search(/₩s/) != -1){
          this.infoMsg = '공백없이 입력해주세요.';
          return false;
        } 
        if(eng != -1 || spe != -1 || kor != -1){
          this.infoMsg = '전화번호는 숫자와 "-"만 입력해주세요.';
          return false;
        }
      }
      return true;
    },

    onReset() {

      this.url_certi_img = null;
      this.certi_img_file = null;

      this.form.lo_email = '';
      this.form.lo_password = '';
      this.form.lo_name = '';
      this.form.lo_mobile = '';
      this.form.lo_mobile_certi_number = '';
      this.form.lo_company_name = '';
      this.form.lo_ceo_name = '';
      this.form.lo_phone = '';
      this.form.lo_business_area = '';
      this.form.lo_postcode = '';
      this.form.lo_address1 = '';
      this.form.lo_address2 = '';
      this.form.lo_location = '';
      this.form.lo_homepage = '';
      this.form.lo_terms_agree = '';
      this.form.lo_collect_agree = '';
      this.form.lo_offer_agree = '';
      this.form.lo_email_agree = '';
      this.form.lo_sms_agree = '';
      this.form.lo_status = '';
      this.form.lo_class = '';
      this.form.lo_creator = '';

      this.re_lo_password =  '';
      this.protectFlag = false;
      this.ahutViewFlag = true;
      this.allAgreeFlag = false;
      this.mobile.first =  '';
      this.mobile.second =  '';
      this.mobile.third =  '';
      this.lo_mobile_certi_number = '';

      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
    },
    //for <vue-recaptcha> onSubmit, onVerify, onExpired</vue-recaptcha>
    onVerify: function (response) {
      console.log('Verify: ' + response)
    },
    onExpired: function () {
      console.log('Expired')
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.onReset();
      this.selected_lo_id = item.lo_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('lo_id', this.selected_lo_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.lo_email = response.data.legal_office.lo_email;
          //this.form.lo_password = response.data.legal_office.lo_password;
          this.form.lo_name = response.data.legal_office.lo_name;
          this.form.lo_mobile = response.data.legal_office.lo_mobile;
          this.mobile.first = response.data.legal_office.lo_mobile.substr(0,3);
          this.mobile.second = response.data.legal_office.lo_mobile.substr(3,4);
          this.mobile.third = response.data.legal_office.lo_mobile.substr(7,4);
          this.form.lo_mobile_certi_number = response.data.legal_office.lo_mobile_certi_number;
          this.form.lo_company_name = response.data.legal_office.lo_company_name;
          this.form.lo_ceo_name = response.data.legal_office.lo_ceo_name;
          this.form.lo_phone = response.data.legal_office.lo_phone;
          this.form.lo_business_area = response.data.legal_office.lo_business_area;
          this.form.lo_postcode = response.data.legal_office.lo_postcode;
          this.form.lo_address1 = response.data.legal_office.lo_address1;
          this.form.lo_address2 = response.data.legal_office.lo_address2;
          this.form.lo_location = response.data.legal_office.lo_location;
          this.form.lo_homepage = response.data.legal_office.lo_homepage;
          this.form.lo_certi_img = response.data.legal_office.lo_certi_img;
          this.form.lo_terms_agree = response.data.legal_office.lo_terms_agree;
          this.form.lo_collect_agree = response.data.legal_office.lo_collect_agree;
          this.form.lo_offer_agree = response.data.legal_office.lo_offer_agree;
          this.form.lo_email_agree = response.data.legal_office.lo_email_agree;
          this.form.lo_sms_agree = response.data.legal_office.lo_sms_agree;
          this.form.lo_status = response.data.legal_office.lo_status;
          this.form.lo_class = response.data.legal_office.lo_class;
          this.form.lo_creator = response.data.legal_office.lo_creator;
          this.url_certi_img = this.$store.state.lawketImageUrl + "customer_image/" + this.form.lo_company_name + "/" + this.form.lo_certi_img;
          this.protectFlag = true;
          this.ahutViewFlag = false;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      if(!this.checkString('password', this.form.lo_password)) {
          this.showModal();
          return;
      } else if(this.form.lo_password != this.re_lo_password) {
          this.infoMsg = '비밀번호가 맞지 않습니다. 비밀번호를 다시 확인해주세요.';
          this.showModal();
          return;
      } else if(this.form.lo_mobile_certi_number == '') {
          this.infoMsg = '휴대폰번호 인증을 완료해 주세요.';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.lo_mobile != this.mobile.first+this.mobile.second+this.mobile.third){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.lo_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.lo_mobile != this.mobile.first+this.mobile.second+this.mobile.third && !this.mobileCertiConfirmFlag){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.lo_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if (!this.checkString('number', this.form.lo_phone)) {
          this.showModal();
          return;
      } else if (this.form.lo_business_area == null) {
          this.infoMsg = '전문분야를 선택해 주세요.';
          this.showModal();
          return;
      } else if (this.url_certi_img == null) {
          this.infoMsg = '자격증 이미지를 첨부해 주세요.';
          this.showModal();
          return;
      }

      let strArray = this.form.lo_address1.split(' ');
      this.form.lo_location = strArray[0];
      if(this.form.lo_location == '세종특별자치시') {
        this.form.lo_location = '세종';
      } else if(this.form.lo_location == '제주특별자치도') {
        this.form.lo_location = '제주';
      }

      if(this.certi_img_file != null) { this.form.lo_certi_img = this.certi_img_file.name; };

      var data = new FormData();
      data.append('file', this.certi_img_file);
      data.append('CRUD_mode', 'update');
      data.append('lo_id', this.selected_lo_id);
      data.append('lo_email', this.form.lo_email);
      data.append('lo_password', this.form.lo_password);
      data.append('lo_name', this.form.lo_name);
      data.append('lo_mobile', this.form.lo_mobile);
      data.append('lo_mobile_certi_number', this.form.lo_mobile_certi_number);
      data.append('lo_company_name', this.form.lo_company_name);
      data.append('lo_ceo_name', this.form.lo_ceo_name);
      data.append('lo_phone', this.form.lo_phone);
      data.append('lo_business_area', this.form.lo_business_area);
      data.append('lo_postcode', this.form.lo_postcode);
      data.append('lo_location', this.form.lo_location);
      data.append('lo_address1', this.form.lo_address1);
      data.append('lo_address2', this.form.lo_address2);
      data.append('lo_homepage', this.form.lo_homepage);
      data.append('lo_certi_img', this.form.lo_certi_img);
      data.append('lo_terms_agree', this.form.lo_terms_agree);
      data.append('lo_collect_agree', this.form.lo_collect_agree);
      data.append('lo_offer_agree', this.form.lo_offer_agree);
      data.append('lo_email_agree', this.form.lo_email_agree);
      data.append('lo_sms_agree', this.form.lo_sms_agree);
      data.append('lo_status', this.form.lo_status);
      data.append('lo_class', this.form.lo_class);                     
      data.append('lo_creator', this.form.lo_creator);
      
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getLegalOffices();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onDelete() {
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('lo_id', this.selected_lo_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        this.getLegalOffices();
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset(); 
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    getLegalOffices() {
      this.customers = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.customers = response.data.legal_offices;
          for(var i=0; i<this.customers.length; i++) {
            this.customers[i].lo_mobile = this.customers[i].lo_mobile.substr(0,3)+'-'+this.customers[i].lo_mobile.substr(3,4)+'-'+this.customers[i].lo_mobile.substr(7,4);
          }
          this.totalRows = this.customers.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    getTerms() {
      this.terms = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      data.append('t_type', '기업');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_term.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.terms = response.data.terms;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
    hideTermsModal() {
      this.$refs.termsModal.hide();
    },
  },

  mounted() {
    if(!this.$store.state.adminFlag) {
      this.$router.push({ path: '/' });
    }
    this.onReset();
    this.getTerms();
    this.getLegalOffices();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }

  .image-bgc {
    background-color:lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    outline-style: dashed;
  }

  body {
    background-color: #e2e2e2;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
  }
</style>