<template>
  <div class="create-faq">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">분류</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-select v-model="form.f_class" :options="class_options" @input="selectedClass" required class="mb-1"></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">제목</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-input type="text" v-model="form.f_subject" required placeholder="제목을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">내용</b-col>
          <b-col cols="7">
            <wysiwyg v-model="form.f_content" />
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <!--b-btn size="sm" variant="secondary" @click="getTips">Get</b-btn>
            <b-btn size="sm" variant="secondary" @click="writeTips">Push</b-btn-->
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="protectFlag" type="submit" size="sm" variant="primary" disabled>등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>

      <br><br>
      <div v-if="listViewFlag=='all'">
        <b-table show-empty
                stacked="sm"
                :items="a_faqs"
                :fields="a_fields"
                :current-page="a_currentPage"
                :per-page="a_perPage"
                :filter="a_filter"
          >
          <template slot="actions" slot-scope="row">
            <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
            <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
            <b-btn size="sm" @click.stop="row.toggleDetails"> {{ row.detailsShowing ? '감추기' : ' 내용보기' }}</b-btn>
          </template>
          <template slot="row-details" slot-scope="row">
            <b-card align="left"><span v-html="row.item.f_content"></span></b-card>
          </template>
        </b-table>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="6">
            <b-form-group horizontal>
              <b-input-group>
                <b-form-input v-model="a_filter" placeholder="찾을 내용을 입력하세요" />
                <b-input-group-append>
                  <b-btn :disabled="!a_filter" @click="a_filter = ''">지우기</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-pagination :total-rows="a_totalRows" :per-page="a_perPage" v-model="a_currentPage" class="my-0" />
          </b-col>
        </b-row>
      </div>
      <div v-if="listViewFlag=='개인'">
        <b-table show-empty
                stacked="sm"
                :items="u_faqs"
                :fields="u_fields"
                :current-page="u_currentPage"
                :per-page="u_perPage"
                :filter="u_filter"
          >
          <template slot="actions" slot-scope="row">
            <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
            <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
            <b-btn size="sm" @click.stop="row.toggleDetails"> {{ row.detailsShowing ? '감추기' : ' 내용보기' }}</b-btn>
          </template>
          <template slot="row-details" slot-scope="row">
            <b-card align="left"><span v-html="row.item.f_content"></span></b-card>
          </template>
        </b-table>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="6">
            <b-form-group horizontal>
              <b-input-group>
                <b-form-input v-model="u_filter" placeholder="찾을 내용을 입력하세요" />
                <b-input-group-append>
                  <b-btn :disabled="!u_filter" @click="u_filter = ''">지우기</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-pagination :total-rows="u_totalRows" :per-page="u_perPage" v-model="u_currentPage" class="my-0" />
          </b-col>
        </b-row>
      </div>
      <div v-if="listViewFlag=='기업'">
        <b-table show-empty
                stacked="sm"
                :items="c_faqs"
                :fields="c_fields"
                :current-page="c_currentPage"
                :per-page="c_perPage"
                :filter="c_filter"
          >
          <template slot="actions" slot-scope="row">
            <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
            <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
            <b-btn size="sm" @click.stop="row.toggleDetails"> {{ row.detailsShowing ? '감추기' : ' 내용보기' }}</b-btn>
          </template>
          <template slot="row-details" slot-scope="row">
            <b-card align="left"><span v-html="row.item.f_content"></span></b-card>
          </template>
        </b-table>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="6">
            <b-form-group horizontal>
              <b-input-group>
                <b-form-input v-model="c_filter" placeholder="찾을 내용을 입력하세요" />
                <b-input-group-append>
                  <b-btn :disabled="!c_filter" @click="c_filter = ''">지우기</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-pagination :total-rows="c_totalRows" :per-page="c_perPage" v-model="c_currentPage" class="my-0" />
          </b-col>
        </b-row>
      </div>
      <br>

    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';

export default {
  name: 'create-faq',
  components: {
    AdminNavi,
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      listViewFlag: '',
      selected_f_id: '',
      formShow: true,
      protectFlag: false,
      form: {
        f_id: 0,
        f_class: null,
        f_subject: '',
        f_content: '',     
      },
      class_options: [
        { value: null, text: '선택하세요.' },
        { value: '개인', text: '개인'},
        { value: '기업', text: '기업'},
      ],
      tips: [],
      a_faqs: [],
      a_fields: [
        { key: 'f_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'f_class', label: '제목', 'class': 'text-center' },
        { key: 'f_subject', label: '제목', 'class': 'text-center' },
        { key: 'f_creator', label: '만든이', 'class': 'text-center' },
        { key: 'created', label: '날짜' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      a_currentPage: 1,
      a_perPage: 10,
      a_totalRows: 0,
      a_pageOptions: [ 10, 20, 30 ],
      a_filter: null,
      u_faqs: [],
      u_fields: [
        { key: 'f_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'f_class', label: '제목', 'class': 'text-center' },
        { key: 'f_subject', label: '제목', 'class': 'text-center' },
        { key: 'f_creator', label: '만든이', 'class': 'text-center' },
        { key: 'created', label: '날짜' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      u_currentPage: 1,
      u_perPage: 10,
      u_totalRows: 0,
      u_pageOptions: [ 10, 20, 30 ],
      u_filter: null,
      c_faqs: [],
      c_fields: [
        { key: 'f_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'f_class', label: '제목', 'class': 'text-center' },
        { key: 'f_subject', label: '제목', 'class': 'text-center' },
        { key: 'f_creator', label: '만든이', 'class': 'text-center' },
        { key: 'created', label: '날짜' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      c_currentPage: 1,
      c_perPage: 10,
      c_totalRows: 0,
      c_pageOptions: [ 10, 20, 30 ],
      c_filter: null,
    }
  },
  computed: {
  },
  methods: {
    selectedClass() {
      if(this.form.f_class == '개인') {
        this.listViewFlag = '개인';
      } else if(this.form.f_class == '기업'){
        this.listViewFlag = '기업';
      } else {
        this.listViewFlag = 'all';
      }
    },
    onSubmit(evt) {
      evt.preventDefault();
      // alert(JSON.stringify(this.form));
      if(this.form.f_content == '') {
          this.infoMsg = '내용을 입력하세요.';
          this.showModal();
          return;
      }
      this.form.f_content = this.form.f_content.replace(/\'/g, "");
      this.form.f_creator = this.$store.state.adminData.la_identifier;
      var data = new FormData();                                
      data.append('CRUD_mode', 'create');
      data.append('f_class', this.form.f_class);
      data.append('f_subject', this.form.f_subject);
      data.append('f_content', this.form.f_content);
      data.append('f_creator', this.form.f_creator);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getFaqs();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onReset() {
      this.form.f_id = 0;
      this.form.f_class = '';
      this.form.f_subject = '';
      this.form.f_content = '';
      this.form.f_creator = '';
      /* Trick to reset/clear native browser form validation state */
      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
      this.protectFlag = false;
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.selected_f_id = item.f_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('f_id', this.selected_f_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.f_class = response.data.faq.f_class;
          this.form.f_subject = response.data.faq.f_subject;
          this.form.f_content = response.data.faq.f_content;
          this.form.f_creator = response.data.faq.f_creator;
          this.form.created = response.data.faq.created;
          this.protectFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      this.form.f_creator = this.$store.state.adminData.la_identifier;
      if(this.form.f_content == '') {
          this.infoMsg = '내용을 입력하세요.';
          this.showModal();
          return;
      }
      this.form.f_content = this.form.f_content.replace(/\'/g, "");
      this.form.f_creator = this.$store.state.adminData.la_identifier;
      var data = new FormData();
      data.append('CRUD_mode', 'update');
      data.append('f_id', this.selected_f_id);
      data.append('f_class', this.form.f_class);
      data.append('f_subject', this.form.f_subject);
      data.append('f_content', this.form.f_content);
      data.append('f_creator', this.form.f_creator);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getFaqs();
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onDelete() {
      console.log('-----> click onDelete');
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('f_id', this.selected_f_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
      .then(response => {
        this.getFaqs();
        this.infoMsg = response.data.msg;
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    getFaqs() {
      this.a_faqs = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.a_faqs = response.data.faqs;
          for(let i=0; i<this.a_faqs.length; i++) {
            this.a_faqs[i].f_content = this.a_faqs[i].f_content.replace(/<\/?[^>]+(>|$)/g, "");
            this.a_faqs[i].f_content = this.a_faqs[i].f_content.replace(/&nbsp;/gi, ' ');
            this.a_faqs[i].f_content = this.a_faqs[i].f_content.replace(/&gt;/gi, ' ');
          }
          this.a_totalRows = this.a_faqs.length;
          this.u_faqs = [];
          this.c_faqs = [];
          let u_seq = 0;
          let c_seq = 0;
          for (var i = 0; i < this.a_faqs.length; i++) {
            if(this.a_faqs[i].f_class == '개인') {
              u_seq = u_seq + 1;
              this.a_faqs[i].f_id = u_seq;
              this.u_faqs.push(this.a_faqs[i]);
            } else {
              c_seq = c_seq + 1;
              this.a_faqs[i].f_id = c_seq;
              this.c_faqs.push(this.a_faqs[i]);
            }
          }
          this.u_totalRows = this.u_faqs.length;
          this.c_totalRows = this.c_faqs.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },    

    getTips() {
      this.tips = [];
      var data = new FormData();
      data.append('getMode', 'all');
      axios.post(this.$store.state.baekyangBaseUrl+'by_getTips.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.tips = response.data.tips;
          this.a_totalRows = this.tips.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    writeTips() {
      for(let i=0; i<this.tips.length; i++) {
        this.tips[i].content = this.tips[i].content.replace(/\'/g,'');
        var data = new FormData();
        data.append('CRUD_mode', 'all_create');
        data.append('f_class', '개인');
        data.append('f_subject', this.tips[i].subject);
        data.append('f_content', this.tips[i].content);
        data.append('f_creator', this.$store.state.adminData.la_identifier);

        axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
        .then(response => {
          if(!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
            return;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => this.loading = false);
      }
    },

    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },

  mounted() {
    if(!this.$store.state.adminFlag) {
      this.$router.push({ path: '/' });
    }
    this.onReset();
    this.listViewFlag = 'all'
    this.getFaqs();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }

  body {
    background-color: #e2e2e2;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
  }
</style>