<template>
  <div class="CreateResponse" align="center">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <div v-if="protectFlag">
        <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
          <br>
          <b-row align="left">
            <b-col cols="2"></b-col>
            <b-col cols="2" class="col-text">제목:</b-col>
            <b-col cols="6">
              <b-form-group>
                <b-form-input type="text" v-model="form.q_subject" readonly></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2"></b-col>
            <b-col cols="2" class="col-text">이름:</b-col>
            <b-col cols="6">
              <b-form-group>
                <b-form-input type="text" v-model="form.q_name" readonly></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2"></b-col>
            <b-col cols="2" class="col-text">휴대폰번호:</b-col>
            <b-col cols="6">
              <b-form-group>
                <b-form-input type="text" v-model="form.q_mobile" readonly></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2"></b-col>
            <b-col cols="2" class="col-text">문의내용:</b-col>
            <b-col cols="6">
              <p><span v-html="form.q_content"></span></p>
            </b-col>
          </b-row>
          <br>
          <div style="height: 10px; background-color:#eeeeee;"></div>
          <br>
          <b-row align="left">
            <b-col cols="2"></b-col>
            <b-col cols="2" class="col-text">답변내용:</b-col>
            <b-col cols="6">
              <wysiwyg v-model="form.r_description"  placeholder="답변 내용을 입력하세요"/>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="3"></b-col>
            <b-col cols="7">
              <vue-recaptcha
                ref="invisibleRecaptcha"
                @verify="onVerify"
                @expired="onExpired"
                size="invisible"
                :sitekey="recaptcha_sitekey">
              </vue-recaptcha>
            </b-col>
          </b-row>
          <br>
          <b-row>
            <b-col cols="3"></b-col>
            <b-col cols="6" align="center">
              <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
              <b-btn v-if="!updateFlag" type="submit" size="sm" variant="primary">답변 등록</b-btn>
              <b-btn v-if="updateFlag" size="sm" variant="warning" @click="onUpdate">답변 수정</b-btn>
            </b-col>
          </b-row>
        </b-form>
      </div>
      <div v-if="!protectFlag">
        <br>
        <b-row align="left">
          <b-col cols="3"></b-col>
          <b-col cols="2" class="col-text">문의유형:</b-col>
          <b-col cols="3">
            <b-form-group>
              <b-form-select v-model="q_type" :options="type_options" @input="getQuestions" required class="mb-1"></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <b-table show-empty
                stacked="sm"
                :items="questions"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :empty-text="emptyText"
                :empty-filtered-text="emptyFilteredText"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :sort-direction="sortDirection"
                @row-clicked="read_item">
            <template slot="q_status" slot-scope="row">
              <b-btn v-if="row.item.q_status == '답변완료'" disabled size="sm" variant="outline-primary" class="mr-1">{{row.item.q_status}}</b-btn>
              <b-btn v-if="row.item.q_status == '응답대기'" disabled size="sm" variant="outline-secondary" class="mr-1">{{row.item.q_status}}</b-btn>
            </template>
            <template slot="actions" slot-scope="row">
              <b-btn size="sm" @click.stop="row.toggleDetails"> {{ row.detailsShowing ? '감추기' : ' 내용보기' }}</b-btn>
            </template>
            <template slot="row-details" slot-scope="row">
              <b-card title="문의"> 
                <p class="card-text"> 제목 : {{row.item.q_subject}} </p>
                <p class="card-text"> 내용 : <span v-html="row.item.q_content"></span></p>
              </b-card>
              <b-card v-if="row.item.r_description != null" title="답변"> 
                <p><span v-html="row.item.r_description"></span></p>
                <p class="card-text"> 작성자 : {{row.item.r_creator}} </p>
                <p class="card-text"> 작성일 : {{row.item.r_date}} </p>
              </b-card>
            </template>
        </b-table>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="4">
            <b-form-group horizontal>
              <b-input-group>
                <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
                <b-input-group-append>
                  <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
          </b-col>
        </b-row>
      </div>
      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';
import VueRecaptcha from 'vue-recaptcha'; //for I'm not a Robot

export default {
  name: 'CreateResponse',
  components: {
    AdminNavi,
    VueRecaptcha,
  },
  data () {
    return {
      recaptcha_sitekey: '6LcZuYIUAAAAAMSPFY_82YwVdPFCQJx--zixgjOM',
      infoMsg: '',
      confirmMsg: '',
      termsDoc: '',
      selected_q_id: '',
      formShow: true,
      updateFlag: false,
      protectFlag: false,
      mobile: {
        first: '',
        second: '',
        third: '',
      },
      form: {
        q_id: 0,
        q_subject: '',
        q_name: '',
        q_mobile: '',
        q_content: '',
        q_type: '',
        q_status: '',
        r_id: 0,
        r_description: '',
        r_date: '',
        r_creator: '',  
      },
      q_type: null,
      type_options: [
        { value: '전체', text: '전체' },
        { value: '회생문의', text: '회생문의' },
        { value: '제휴문의', text: '제휴문의' },
        { value: '광고문의', text: '광고문의' },
        { value: '공지사항문의', text: '공지사항문의' },
        { value: '기타문의', text: '기타문의' },
        { value: '건의사항', text: '건의사항' },
        { value: '신고하기', text: '신고하기' },
      ],
      questions: [],
      fields: [
        { key: 'q_id', label: '번호', 'class': 'text-center' },
        { key: 'q_subject', label: '제목', 'class': 'text-center' },
        { key: 'q_name', label: '이름', 'class': 'text-center' },
        { key: 'q_mobile', label: '전화번호', 'class': 'text-center' },
        { key: 'q_type', label: '질문유형', 'class': 'text-center' },
        { key: 'q_status', label: '답변상태', 'class': 'text-center' },
        { key: 'date', label: '작성일', 'class': 'text-center' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      emptyText: '등록된 자료가 없습니다.',
      emptyFilteredText: '찾는 자료가 없습니다.'
    }
  },
  computed: {
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.invisibleRecaptcha.execute();  //for <vue-recaptcha>

      // alert(JSON.stringify(this.form));
      if(this.form.r_description == '') {
          this.infoMsg = '내용을 입력하세요.';
          this.showModal();
          return;
      }

      this.form.r_creator = this.$store.state.adminData.la_identifier;

      var data = new FormData();                                
      data.append('CRUD_mode', 'create');
      data.append('q_id', this.form.q_id);
      data.append('r_description', this.form.r_description);
      data.append('r_creator', this.form.r_creator);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_response.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getQuestions();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onUpdate() {
      this.$refs.invisibleRecaptcha.execute();  //for <vue-recaptcha>
      if(this.form.r_description == '') {
          this.infoMsg = '내용을 입력하세요.';
          this.showModal();
          return;
      }

      this.form.r_creator = this.$store.state.adminData.la_identifier;

      var data = new FormData();                                
      data.append('CRUD_mode', 'update');
      data.append('r_id', this.form.r_id);
      data.append('r_description', this.form.r_description);
      data.append('r_creator', this.form.r_creator);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_response.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getQuestions();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onReset() {
      this.form.q_id = 0;
      this.form.q_subject = '';
      this.form.q_name = '';
      this.form.q_mobile = '';
      this.form.q_content = '';
      this.form.q_type = '';
      this.form.q_status = '';
      this.form.r_id = 0;
      this.form.r_description = '';
      this.form.r_date = ''; 
      this.form.r_creator = ''; 
      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
      this.updateFlag = false;
      this.protectFlag = false;
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.selected_q_id = item.q_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read_with_response');
      data.append('q_id', this.selected_q_id );
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_question.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.q_id = response.data.question.q_id;
          this.form.q_subject = response.data.question.q_subject;
          this.form.q_name = response.data.question.q_name;
          this.form.q_mobile = response.data.question.q_mobile;
          this.form.q_content = response.data.question.q_content;
          this.form.q_type = response.data.question.q_type;
          this.form.q_status = response.data.question.q_status;
          this.form.r_id = response.data.question.r_id;
          this.form.r_description = response.data.question.r_description;
          this.form.r_date = response.data.question.r_date;
          this.form.r_creator = response.data.question.r_creator;
          if(this.form.q_status == '응답대기') {
            this.updateFlag = false;
          } else {
            this.updateFlag = true;
          }
          this.protectFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    getQuestions() {
      this.questions = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      data.append('q_type', this.q_type);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_question.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.questions = response.data.questions;
          this.totalRows = this.questions.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },

  mounted() {
    if(!this.$store.state.adminFlag) {
      this.$router.push({ path: '/' });
    }
    this.onReset();
    this.q_type = '전체';
    this.getQuestions();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }
</style>