<template>
  <div class="CreateAdmin">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">아이디:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input v-if="!protectFlag" type="text" v-model="form.la_identifier" required placeholder="아이디를 입력하세요."></b-form-input>
              <b-form-input v-if="protectFlag" type="text" v-model="form.la_identifier" readonly ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">패스워드:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="password" v-model="form.la_password" required placeholder="영.숫자 포함 8자리 ~ 15자리 이내로 입력하세요."></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">이메일:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="email" v-model="form.la_email" required placeholder="자주 사용하는 이메일을 입력하세요."></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">성명:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.la_name" required placeholder="성명을 입력하세요."></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">휴대폰번호:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="tel" v-model="form.la_mobile" required placeholder="휴대폰 번호를 입력하세요."></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="protectFlag" type="submit" size="sm" variant="primary" disabled>등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>

      <br><br>
      <b-table show-empty
              stacked="sm"
              :items="admins"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
        </template>
      </b-table>
      <b-row>
        <b-col cols="1"></b-col>
        <b-col cols="6">
          <b-form-group horizontal label="">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
      <br>

    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';

export default {
  name: 'CreateAdmin',
  components: {
    AdminNavi,
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_la_id: '',
      readFlag: false,
      protectFlag: false,
      formShow: true,
      form: {
        la_identifier: '',
        la_password: '',
        la_email: '',
        la_name: '',
        la_mobile: '',
        la_creator: ''
      },
      admins: [],
      fields: [
        { key: 'la_id', label: 'Seq', sortable: true, 'class': 'text-center' },
        { key: 'la_name', label: '이름', sortable: true, sortDirection: 'desc', 'class': 'text-center' },
        { key: 'la_identifier', label: '아이디', sortable: true, sortDirection: 'desc', 'class': 'text-center' },
        { key: 'la_email', label: '이메일', sortable: true, sortDirection: 'desc' },
        { key: 'la_mobile', label: '전화번호', 'class': 'text-center' },
        { key: 'la_creator', label: '만든이', 'class': 'text-center' },
        { key: 'created', label: '날짜', sortable: true, sortDirection: 'desc' },
        { key: 'actions', label: 'Actions' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      pageOptions: [ 5, 10, 15 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
    }
  },
  computed: {
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      //alert(JSON.stringify(this.form));
      if (!this.checkString(this.form.la_password)) {
        this.showModal();
        return;
      }

      var data = new FormData();
      data.append('CRUD_mode', 'create');
      data.append('la_identifier', this.form.la_identifier);
      data.append('la_password', this.form.la_password);
      data.append('la_email', this.form.la_email);
      data.append('la_name', this.form.la_name);
      data.append('la_mobile', this.form.la_mobile);
      data.append('la_creator', this.$store.state.adminData.la_identifier);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_admin.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.onReset();
          this.getAdmins();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
    },

    onReset() {
      this.form.la_identifier = '';
      this.form.la_password = '';
      this.form.la_email = '';
      this.form.la_name = '';
      this.form.la_mobile = '';
      this.form.la_creator = '';
      /* Trick to reset/clear native browser form validation state */
      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
    },


    onUpdate() {
      if (!this.checkString(this.form.la_password)) {
        this.showModal();
        return;
      }

      var data = new FormData();
      data.append('CRUD_mode', 'update');
      data.append('la_id', this.form.la_id);
      data.append('la_identifier', this.form.la_identifier);
      data.append('la_password', this.form.la_password);
      data.append('la_email', this.form.la_email);
      data.append('la_name', this.form.la_name);
      data.append('la_mobile', this.form.la_mobile);
      data.append('la_creator', this.$store.state.adminData.la_identifier);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_admin.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.onReset();
          this.getAdmins();
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
    },

    checkString(str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/ig);

      //let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
      if(pw.length < 8 || pw.length > 15){
        this.infoMsg = '비밀번호는 영.숫자 포함 6자리 ~ 15자리 이내로 입력해주세요.';
        return false;
      }
      if(pw.search(/₩s/) != -1){
        this.infoMsg = '비밀번호는 공백없이 입력해주세요.';
        return false;
      } 
      if(num < 0 || eng < 0){
        this.infoMsg = '비밀번호는 영문.숫자를 혼합하여 입력해주세요.';
        return false;
      }
      return true;
    },

    onDelete() {
      //console.log('-----> click onDelete');
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('la_id', this.selected_la_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_admin.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.onReset();
          this.getAdmins();
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteDonfirmModal.hide();
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.selected_la_id = item.la_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('la_id', this.selected_la_id);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_admin.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.la_identifier = response.data.admin.la_identifier;
          this.form.la_password = response.data.admin.la_password;
          this.form.la_email = response.data.admin.la_email;
          this.form.la_name = response.data.admin.la_name;
          this.form.la_mobile = response.data.admin.la_mobile;
          this.form.la_creator = response.data.admin.la_creator;
        
          this.readFlag = true;
          this.protectFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    getAdmins() {
      this.admins = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_admin.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.admins = response.data.admins;
          this.totalRows = this.admins.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },
  mounted() {
    if(!this.$store.state.adminFlag) {
      this.$router.push({ path: '/' });
    }
    this.getAdmins();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }
</style>