<template>
  <div class="add-consult">
    <AdminNavi></AdminNavi>
    <br>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">이메일</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="email" v-model="form.u_email" required placeholder="이메일을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">비밀번호</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="password" v-model="form.u_password" required placeholder="영.숫자 포함 8자리 ~ 15자리 이내로 입력하세요."></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">비밀번호 확인</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="password" v-model="re_u_password" required placeholder="비밀번호를 다시한번 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">이름</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.u_name" required placeholder="이름을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">생년월일</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="date" v-model="form.u_birthday" required></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">휴대폰번호</b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.first" required placeholder="010"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.second" required placeholder="1234"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.third" required placeholder="5678"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="2" v-if="ahutViewFlag">
            <b-btn variant="outline-danger" @click="getCertiNumber">인증번호받기</b-btn>
          </b-col>
        </b-row>
        <b-row align="right" v-if="ahutViewFlag">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">인증번호</b-col>
          <b-col cols="3">
            <b-form-group>
              <b-form-input type="text" v-model="form.u_mobile_certi_number" required placeholder="인증번호를 입력해 주세요."></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="2">
            <b-btn variant="outline-danger" @click="ahutConfirm">확인</b-btn>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">알개된경로</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-select v-model="form.u_access_route" :options="access_routes" @input="selectedRoute" required class="mb-1"></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right" v-if="accessRouteFlag">
          <b-col cols="4"></b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="access_route" required placeholder="알게된 경로를 입력해주세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col> 
          <b-col cols="7">
            <vue-recaptcha
              ref="invisibleRecaptcha"
              @verify="onVerify"
              @expired="onExpired"
              size="invisible"
              :sitekey="recaptcha_sitekey">
            </vue-recaptcha>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="8"></b-col>
          <b-col cols="4" align="left">
            <b-form-checkbox id="checkbox4" v-model="form.u_allAgree" value="O" unchecked-value="X" @change="toggleAllAgree">
              전체동의
            </b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="1"></b-col>
          <b-col cols="2" align="right">개인정보 수집 및 이용동의</b-col>
          <b-col cols="1">
            <b-btn size="sm" variant="outline-primary" @click="openTermsModal('개인정보 수집')">전문보기</b-btn>
          </b-col>
          <b-col cols="4"></b-col>
          <b-col cols="4" align="left">
            <b-form-checkbox id="checkbox1" v-model="form.u_terms" value="O" unchecked-value="X">(필수)개인정보 수집 및 이용에 동의합니다.</b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="1"></b-col>
          <b-col cols="2" align="right">개인정보 제3자 제공 동의</b-col>
          <b-col cols="1">
            <b-btn size="sm" variant="outline-primary" @click="openTermsModal('개인정보 제3자 제공')">전문보기</b-btn>
          </b-col>
          <b-col cols="4"></b-col>
          <b-col cols="4" align="left">
            <b-form-checkbox id="checkbox2" v-model="form.u_offer" value="O" unchecked-value="X">(필수)개인정보 제3자 제공에 동의합니다.</b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="1"></b-col>
          <b-col cols="2" align="right">마케팅 수신 동의</b-col>
          <b-col cols="1">
            <b-btn size="sm" variant="outline-primary" @click="openTermsModal('마케팅 수신')">전문보기</b-btn>
          </b-col>
          <b-col cols="4"></b-col>
          <b-col cols="4" align="left">
            <b-form-checkbox id="checkbox3" v-model="form.u_marketing" value="O" unchecked-value="X">(선택)마케팅 수신에 동의합니다.</b-form-checkbox>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="5" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="protectFlag" size="sm" variant="primary" disabled>등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn>
          </b-col>
        </b-row>
      </b-form>
      <br>
      <b-table show-empty
              stacked="sm"
              :items="users"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection">
        <template slot="actions" slot-scope="row">
          <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
        </template>
      </b-table>
      <b-row>
        <b-col cols="3"></b-col>
        <b-col cols="4">
          <b-form-group horizontal label="">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
      <b-modal ref="confirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirm">확인</b-btn>
      </b-modal>
      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>
      <b-modal ref="termsModal" hide-footer title="알림">
        <div class="d-block text-center">
          <p><span v-html="termsDoc"></span></p>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideTermsModal">닫기</b-btn>
      </b-modal>
    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';
import VueRecaptcha from 'vue-recaptcha'; //for I'm not a Robot

export default {
  name: 'add-consult',
  components: {
    AdminNavi,
    VueRecaptcha,
  },
  data () {
    return {
      recaptcha_sitekey: '6LcZuYIUAAAAAMSPFY_82YwVdPFCQJx--zixgjOM',
      infoMsg: '',
      confirmMsg: '',
      termsDoc: '',
      selected_u_id: '',
      formShow: true,
      ahutViewFlag: true,
      protectFlag: false,
      accessRouteFlag: false,
      access_route: '',
      access_routes: [
        {value: null, text: '로우켓을 어떻게 알게되셨나요?.' },
        {value: '네이버', text: '네이버'},
        {value: '다음', text: '다음'},
        {value: '구글', text: '구글'},
        {value: '블로그', text: '블로그'},
        {value: '페이스북', text: '페이스북'},
        {value: '인스타그램', text: '인스타그램'},
        {value: '유튜브', text: '유튜브'},
        {value: '지식IN', text: '지식IN'},
        {value: '신문광고', text: '신문광고'},
        {value: '주변지인', text: '주변지인'},
        {value: '기타(직접작성)', text: '기타(직접작성)'},
      ],
      mobile: {
        first: '',
        second: '',
        third: '',
      },
      re_u_password: '',
      mobileCertiConfirmFlag: false,
      u_mobile_certi_number: '',
      form: {
        u_id: 0,
        u_email: '',
        u_password: '',
        u_name: '',
        u_birthday: '',
        u_mobile: '',
        u_mobile_certi_number: '',
        u_access_route: '',
        u_terms: '',       //이용약관
        u_offer: '',       //개인정보 제3자 제공
        u_marketing: '',   //마케팅 정보수신
        u_allAgree: '',    //전체 동의
        u_creator: '',
      },
      terms:[],
      users:[],
      fields: [
        { key: 'u_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'u_email', label: '이메일', 'class': 'text-center' },
        { key: 'u_name', label: '이름', 'class': 'text-center' },
        { key: 'u_mobile', label: '전화번호', 'class': 'text-center' },
        { key: 'u_birthday', label: '생년월일', 'class': 'text-center' },
        { key: 'u_mobile_certi_number', label: '휴대폰인증', 'class': 'text-center' },
        { key: 'u_access_route', label: '유입경로', 'class': 'text-center' },
        { key: 'u_creator', label: '만든이', 'class': 'text-center' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
    }
  },
  computed: {
  },
  methods: {
    getCertiNumber(){
      if(this.checkString('mobile', this.mobile.first+this.mobile.second+this.mobile.third) == false) {
          this.showModal();
          return;
      }
      var data = new FormData();                                
      data.append('CRUD_mode', 'create');
      data.append('c_type', 'user');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_certification.php', data)
      .then(response => {
        this.infoMsg = response.data.msg +': '+ response.data.certi_number;
        this.u_mobile_certi_number = response.data.certi_number;
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.ahutViewFlag = true;
    },
    ahutConfirm(){
      if(this.u_mobile_certi_number != this.form.u_mobile_certi_number) {
        this.infoMsg = '인증번호가 같지 않습니다. 올바른 번호를 입력해 주세요.';
        this.ahutViewFlag = true;
        this.showModal();
        return;
      }
      this.form.u_mobile = this.mobile.first+this.mobile.second+this.mobile.third;
      var data = new FormData();                                
      data.append('CRUD_mode', 'read');
      data.append('c_type', 'user');
      data.append('c_number', this.form.u_mobile_certi_number);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_certification.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(!response.data.result) {
          this.mobileCertiConfirmFlag = false;
        } else {
          this.mobileCertiConfirmFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
    },
    selectedRoute() {
      if(this.form.u_access_route == '기타(직접작성)') {
        this.accessRouteFlag = true;
      }
    },
    toggleAllAgree(checked) {
        this.form.u_terms = 'O';       //이용약관
        this.form.u_offer = 'O';       //개인정보 제3자 제공
        this.form.u_marketing = 'O';   //마케팅 정보수신
    },
    openTermsModal(subject) {
      for(let i=0; i<this.terms.length; i++) {
        if(this.terms[i].t_subject == subject) {
          this.termsDoc = this.terms[i].t_content;
        }
      }
      this.$refs.termsModal.show();
    },

    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.invisibleRecaptcha.execute();
      this.form.u_creator = this.form.u_email;
      if(this.checkString('password', this.form.u_password) == false) {
          this.showModal();
          return;
      } else if(this.form.u_password != this.re_u_password) {
          this.infoMsg = '비밀번호가 맞지 않습니다. 비밀번호를 다시 확인해주세요.';
          this.showModal();
          return;
      } else if(this.form.u_mobile_certi_number == '') {
          this.infoMsg = '휴대폰번호 인증을 완료해 주세요.';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.u_mobile != this.mobile.first+this.mobile.second+this.mobile.third){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.u_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(!this.mobileCertiConfirmFlag){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.u_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.u_terms != 'O' || this.form.u_offer != 'O') {
        this.infoMsg = '이용약관/개인정보처리방침에 동의해야 합니다.';
        this.showModal();
        return;
      } else if(this.accessRouteFlag) {
        this.form.u_access_route = this.access_route;
      } 
      //alert(JSON.stringify(this.form));

      var data = new FormData();                                
      data.append('CRUD_mode', 'create');
      data.append('u_email', this.form.u_email);
      data.append('u_password', this.form.u_password);
      data.append('u_name', this.form.u_name);
      data.append('u_birthday', this.form.u_birthday);
      data.append('u_mobile', this.form.u_mobile);
      data.append('u_mobile_certi_number', this.form.u_mobile_certi_number);
      data.append('u_access_route', this.form.u_access_route);
      data.append('u_terms', this.form.u_terms);
      data.append('u_offer', this.form.u_offer);
      data.append('u_marketing', this.form.u_marketing);
      data.append('u_allAgree', this.form.u_allAgree);
      data.append('u_creator', this.form.u_creator);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_user.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getUsers();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
    },
    onVerify: function (response) {
      console.log('Verify: ' + response)
    },
    onExpired: function () {
      console.log('Expired')
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.onReset();
      this.selected_u_id = item.u_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('u_id', this.selected_u_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_user.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.u_id = response.data.user.u_id;
          this.form.u_email = response.data.user.u_email;
          this.form.u_name = response.data.user.u_name;
          this.form.u_birthday = response.data.user.u_birthday;
          this.form.u_mobile = response.data.user.u_mobile;
          this.mobile.first = response.data.user.u_mobile.substr(0,3);
          this.mobile.second = response.data.user.u_mobile.substr(3,4);
          this.mobile.third = response.data.user.u_mobile.substr(7,4);
          this.form.u_mobile_certi_number = response.data.user.u_mobile_certi_number;
          this.form.u_access_route = response.data.user.u_access_route;
          this.form.u_terms = response.data.user.u_terms;
          this.form.u_offer = response.data.user.u_offer;
          this.form.u_marketing = response.data.user.u_marketing;
          this.form.u_creator = response.data.user.u_creator;
          this.protectFlag = true;
          this.ahutViewFlag = false;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      this.form.u_creator = this.form.u_email;
      if(this.checkString('password', this.form.u_password) == false) {
          this.showModal();
          return;
      } else if(this.form.u_password != this.re_u_password) {
          this.infoMsg = '비밀번호가 맞지 않습니다. 비밀번호를 다시 확인해주세요.';
          this.showModal();
          return;
      } else if(this.form.u_mobile_certi_number == '') {
          this.infoMsg = '휴대폰번호 인증을 완료해 주세요.';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.u_mobile != this.mobile.first+this.mobile.second+this.mobile.third){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.u_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.u_mobile != this.mobile.first+this.mobile.second+this.mobile.third && !this.mobileCertiConfirmFlag){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.u_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.u_terms != 'O' || this.form.u_offer != 'O') {
        this.infoMsg = '이용약관/개인정보처리방침에 동의해야 합니다.';
        this.showModal();
        return;
      } else if(this.accessRouteFlag) {
        this.form.u_access_route = this.access_route;
      }

      var data = new FormData();                                
      data.append('CRUD_mode', 'update');
      data.append('u_id', this.form.u_id);
      data.append('u_email', this.form.u_email);
      data.append('u_password', this.form.u_password);
      data.append('u_name', this.form.u_name);
      data.append('u_birthday', this.form.u_birthday);
      data.append('u_mobile', this.form.u_mobile);
      data.append('u_mobile_certi_number', this.form.u_mobile_certi_number);
      data.append('u_access_route', this.form.u_access_route);
      data.append('u_terms', this.form.u_terms);
      data.append('u_offer', this.form.u_offer);
      data.append('u_marketing', this.form.u_marketing);
      data.append('u_creator', this.form.u_creator);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_user.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getUsers();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onDelete() {
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('u_id', this.selected_u_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_user.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.onReset(); 
          this.getUsers();
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    onReset() {
      this.form.u_id = 0; 
      this.form.u_email = ''; 
      this.form.u_password = '';
      this.form.u_name = ''; 
      this.form.u_birthday = ''; 
      this.form.u_mobile = ''; 
      this.form.u_mobile_certi_number = '';
      this.form.u_access_route = '';
      this.form.u_terms = '';        //이용약관
      this.form.u_offer = '';        //개인정보 제3자 제공
      this.form.u_marketing = '';    //마케팅 정보수신
      this.form.u_allAgree = '';     //전체 동의
      this.form.u_creator = '';
      this.re_u_password = '';
      this.mobile.first = '';
      this.mobile.second = '';
      this.mobile.third = '';
      this.protectFlag = false;
      this.ahutViewFlag = true;
      this.accessRouteFlag = false;
      this.access_route= '';
      this.re_u_password= '';
      this.u_mobile_certi_number = '';
      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
    },
    confirm() {
      //alert('Selected --------> confirm()');
      this.$refs.confirmModal.hide();
    },  

    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/ig);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/ig);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/ig);

      if(type == 'password') {
        //alert(JSON.stringify(pw.length));
        if(pw.length < 8 || pw.length > 15){
          this.infoMsg = '비밀번호는 영.숫자 포함 8자리 ~ 15자리 입니다.';
          return false;
        }
        if(pw.search(/₩s/) != -1){
          this.infoMsg = '비밀번호는 공백없이 입력해주세요.';
          return false;
        } 
        if(num < 0 || eng < 0){
          this.infoMsg = '비밀번호는 영문.숫자를 혼합하여 입력해주세요.';
          return false;
        }
      } else if(type == 'mobile' && pw.length != 11) {
          this.infoMsg = '휴대폰번호를 확인해주세요.';
          return false;
      } else if(pw.search(/₩s/) != -1){
          this.infoMsg = '공백없이 입력해주세요.';
          return false;
      }
      return true;
    },

    getUsers() {
      this.users = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_user.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.users = response.data.users;
          for(var i=0; i<this.users.length; i++) {
            this.users[i].u_mobile = this.users[i].u_mobile.substr(0,3)+'-'+this.users[i].u_mobile.substr(3,4)+'-'+this.users[i].u_mobile.substr(7,4);
          }
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    getTerms() {
      this.terms = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      data.append('t_type', '개인');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_term.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.terms = response.data.terms;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },
    hideTermsModal() {
      this.$refs.termsModal.hide();
    },
  },

  mounted() {
    this.onReset();
    this.getTerms();
    this.getUsers();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }
</style>